.ui3-timepicker-selector-title{
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: relative;
    background: #F6F6F6;
    margin-bottom: 5px;
}

.ui3-timepicker-selector-closer{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.ui3-timepicker-selector-wraper{
    margin: 5px 1px;
}

.ui3-timepicker-si{
    width: 24px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.ui3-timepicker-si.ui3-timepicker-si-selected{
    color: #FF8447;
}

.ui3-timepicker-si:hover{
    color: #FF8447;
}

.ui3-timepicker-selector-hours .ui3-timepicker-selector-wraper{
    margin: 6px 0px;
}

.ui3-timepicker-selector-hours .ui3-timepicker-si{
    width: 39px;
    height: 30px;
    line-height: 30px;
}

.ui3-timepicker-vs input{
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    padding: 0px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.ui3-timepicker-vs input[disabled]{
    color: #ccc;
    background: #eee;
}

.ui3-timepicker-vs i{
    font-style: normal;
    display: inline-block;
    width: 17px;
    text-align: center;
}

.ui3-timepicker-vs{
    padding: 6px 4px 6px 5px;
    height: 25px;
    background: #f6f6f6;
}

.ui3-timepicker-confirm{
    width: 60px;
    height: 25px;
    background: #5986E1;
    line-height: 25px;
    text-align: center;
    color: #fff !important;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 12px;
}